.page-4 {
    height: 50%;
    width: 100%;
    background-color: rgb(85, 85, 85); /* Zorg ervoor dat deze kleur overeenkomt met de SVG */
    position: relative;
    z-index: 1;
    padding-top: 90px;
}

