html, body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#bg_zebra {
    background-image:url('../media/bg_zebra.svg'); 
    background-position: center; 

}

#body {
    width: 100%;
    height: 140vh; 
    background-image: url('../media/background.jpg'); 
    background-repeat: repeat;
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Voeg de animatie toe aan de img */
.planetzoo {
    height: 60%;
    object-fit: cover;
    position: absolute;
    top: -50%; /* Begin buiten het scherm */
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(136, 136, 136, 0.5);
    animation: slideInFromTop 1s forwards; /* Voeg de animatie toe */
}

/* Voeg de animatie toe aan de button */
.button {
    font-size: 2.5em;
    padding: 10px 20px;
    font-size: 2em;
    color: white;
    background-color:#ffc107;
    border-radius: 30px;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
    margin-top: 50px;
    opacity: 0; /* Begin met onzichtbaar */
    animation: fadeIn 1s forwards 1s; /* Voeg de animatie toe met een vertraging */
    overflow: hidden;
}

.button:hover {
    background-color: #ff9800;
}

.line-container {
    display: flex;
    justify-content: center;
    position: relative; 
    top: -23vh;
    z-index: 2;
}

.line {
    width: 1400px;
    height: 3px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 5%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.3) 95%);
    z-index: 2;
}

.h1 {
    font-size: 4em;
    color: white;
    z-index: 10; 
    text-align: center;
}

.h2 {
    font-size: 2em;
    color: white;
    z-index: 3; 
    text-align: center;
}

/* Voeg de animatie toe aan de border */
.border { 
    height: 45%;
    width: 80%;
    background-image: url('../media/bg_zebra.svg');
    background-color: #10815c;
    transform: translate(-50%, -50%);
    border: 4px solid rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(136, 136, 136, 0.5);
    font-family: sans-serif;
    object-fit: cover;
    position: absolute;
    bottom: -100%; 
    left: 50%;
    transform: translateX(-50%);
    animation: slideInFromBottom 1s forwards 2s;
}

.pijltje {
    position: absolute;
    top: 5%;
    left: 3%;
    width: 30px;
    height: auto;
    transition: transform 0.3s ease;
}

.pijltje-svg {
    fill: #139b6d;
    transform: rotate(90deg);
}

.pijltje:hover {
    transform: translateX(-30px);
}

/* Definieer de keyframes voor de animaties */
@keyframes slideInFromTop {
    to {
        top: 35%; /* Eindpositie */
    }
}

@keyframes fadeIn {
    to {
        opacity: 1; /* Eindpositie */
    }
}

@keyframes slideInFromBottom {
    to {
        bottom: -30%; /* Eindpositie */
    }
}
